*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

.container input{
  position: relative;
  width: 180px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(180, 179, 179);
  padding: 6px;
}

span{
  background-color: aqua;
  width: 40px;
  height: 50px;
  border: 1px solid black;

}

.input-search{
  margin-top: 80px;
  margin-left: -35px;
  height: 25px;

}

.input-search h4, input{
  margin-left: 40px;
  margin-bottom: 20px;
}

#lupa{
  background-image:url(../../assets/image/lupa.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 160px 6px;

}

.titulo-busca{
  margin-top: 80px;
  text-align: center;
}

.titulo-busca h4{
  font-weight: 200;
}

.cards-container{
  position: absolute;
  display: flex;
  margin-top: 50px;
  width:100%;
  height: 100vh;
  word-wrap: break-word;
  flex-wrap: wrap;

}
.card img{
  width: 230px;
  border-radius: 7px 7px 0 0;
}
.card{
  margin-left: 50px;
  margin-bottom: 40px;
  width: 230px;
  height: 400px;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 7px;
}

.card h4{
  margin:20px 20px 10px 20px;
}
.card p{
  margin:20px 20px 10px 20px;
  font-size: 12px;
}

.card a{
  text-decoration: none;
  color: rgb(41, 106, 246);
}
.menu-lateral{
  float: right;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  width: 15%;

}

.menu-lateral h4{
  margin-top: 80px;

}

.menu-lateral p{
 padding: 4px;
 margin: 3px 9px 3px 0px;
 border-bottom: 1px solid rgb(180, 179, 179) ;
 width: 170px;

}
.form-container{
  margin-top: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  height: 380px;
  margin-left: 40%;
  margin-right: auto;
  padding-top: 40px;
}

.form-container label{

  margin-left: 20px;
}
.form-container input{
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}
.form-container textarea{
  resize: none;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 40px;
}

.button-container{
  margin-top: 10px;
  text-align: center;
}

.btn-submit{
  background-color: blue;
  color: aliceblue;
  width:100px;
  height: 30px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}

.btn-cancel{
  background-color: red;
  color: aliceblue;
  width:100px;
  height: 30px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}
.titulo-busca a{
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: blue;
  border-radius: 5px;
  width: 200px;
  padding: 10px;

}
