<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corona Vírus</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="titulo-busca">
        <h2>Adicione um post</h2>
        <br>
        <a routerLink="/home">Home</a><br>

      </div>

      <div class="container">
        <div class="menu-lateral">
          <div class="opcao-lateral">
            <h4>Categorias</h4>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
          </div>

          <div class="input-search">
            <h4>Procurando alguma notícia?</h4>
            <input id="lupa" placeholder="Pesquisar por..." />
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <form novalidate [formGroup]="form" class="form-container">
        <div>
          <label for="title">Titulo</label>
          <input type="text" id="title" placeholder="Titulo" formControlName="title"/>
        </div>
        <div >
          <label for="body">Descrição</label>
          <textarea id="body" formControlName="body"></textarea>

          <div class="button-container">
            <button class="btn-submit" type="submit" (click)="onSubmit()">Adicionar</button>
            <button class="btn-cancel" type="button" (click)="onCancel()">Cancelar</button>
          </div>
        </div>


      </form>

    </div>
  </body>
</html>
