<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Corona Vírus</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="titulo-busca">
        <h2>Exibindo resultado de busca por "Covid 19"</h2>
        <h4>Encontramos um total de 20 resultados para a sua busca</h4>
      </div>

      <div class="container">
        <div class="menu-lateral">
          <div class="opcao-lateral">
            <h4>Categorias</h4>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
            <p>Lorem ipsum dolor</p>
          </div>

          <div class="input-search">
            <h4>Procurando alguma notícia?</h4>
            <input id="lupa" placeholder="Pesquisar por..." />
          </div>
        </div>
      </div>
    </div>
    <div  class="cards-container">
      <div *ngFor="let post of posts"class="card">
        <img src="../assets/image/covid.jpg" alt="imagem-covid" />
        <h4>{{ post.title }}</h4>
        <p>
          Saiba o que é o coronavírus, em quanto tempo a doença pode se
          manifestar e quais são os principais
        </p>
        <a href="#"><p>Ler mais</p></a>
      </div>
    </div>
  </body>
</html>
